<!-- web_dynamic/templates/2-hbnb.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB Clone - Web Dynamic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <script src="{{ url_for('static', filename='scripts/2-hbnb.js') }}" defer></script>
</head>
<body>
    <!-- Your HTML content here -->
</body>
</html>

